
    <app-add-category (onAddCategory)="addCategory($event)">
    </app-add-category>

    <!-- Inside we want to redirect update button to a MODAL! -->
    <app-category-item
        *ngFor="let category of categories"
        [category]="category"   
        (onDeleteCategory)="deleteCategory(category)"
        
    ></app-category-item>
    <!-- (onUpdateCategory)="updateCategory(category)" -->

    <!-- <app-modal></app-modal> -->
    <!-- (onUpdateCategory)="updateCategory(category)" -->
    <!-- (onUpdateCategory)="onUpdateCategory(category)" -->
   

